# Node.js
node_modules/
package-lock.json
pnpm-lock.yaml

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env

# Coverage directory used by testing tools
coverage/

